.footer__parent-cont{
    display: flex;
    justify-content: center;
    // flex-direction: column;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_img-container {
    width: 30%;
    .footer-img {
        // width: 52%;
        width: 100%;
    }
}

.contact__info-box {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    box-shadow: 0px 2px 10px #7f83d6CC; //indigo
    margin: 2rem auto;
    padding: 0.5rem;
    text-align: center;

    a {
        text-decoration: none;
    };

    .info__icon {
        font-size: 2.5rem;
    }
}

.contact-info__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
    border: 1px solid red;
    position: relative;
    .p-text{
        line-height: 0px !important;
    }
}
.contact-info__item .Tooltip-Tip{
    background-color: var(--blueAccColor) !important;
    transform: translateY(-15px);
    left: -1px;
    white-space: nowrap;
}

.contact-info__item .Tooltip-Tip::before {
    border-top-color:var(--blueAccColor);
}
